#eflex-toast-container {
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    pointer-events: none;
    width: 250px;

    display: flex;
    flex-direction: column;
    padding: 8px;
    z-index: 99999;
}

.eflex-toast{
    width: 100%;
    padding: 16px 8px;
    border-radius: 4px;
    margin-bottom: .5rem;
    max-width: 100%;  
    transition: .2s ease all;
    cursor: pointer;
    pointer-events: all;
}

.eflex-toast > p:first-of-type {
    margin-top: 0;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-weight: bold;
}

.eflex-toast > p:last-of-type {
    font-weight: normal;
    line-break: loose;
    margin-bottom: 0;
}

.eflex-toast.info {
    background: #189EDA;
    color: white;


    &:hover {
        background: #1275a2;
    }
}

.eflex-toast.warn {
    background: #da7f18;
    color: white;


    &:hover {
        background: #a66112;
    }
}
#modal-change-time {
    position: fixed;
    inset: 0;
    background: #00000066;
    backdrop-filter: blur(10px);
    z-index: 9999;

    display: flex;
    align-items: center;
    justify-content: center;
}

#modal-change-time .modal-wrapper {
    background: white;
    color: black;
    border-radius: 4px;
    padding: 16px 8px;
}