
#modal-change-time {
    position: fixed;
    inset: 0;
    background: #00000066;
    backdrop-filter: blur(10px);
    z-index: 9999;

    display: flex;
    align-items: center;
    justify-content: center;
}

#modal-change-time .modal-wrapper {
    background: white;
    color: black;
    border-radius: 4px;
    padding: 16px 8px;
}